.about-heading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.live-scores{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    border: 1px solid rgb(207, 204, 204);
    height: 50px;
    border-radius: 10px;
    margin: 2rem;
}

.space{
    width: 50px;
}

.progress{
    margin-top: 4.2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}